@font-face {
    font-family: 'Splatoon 2';
    src: url("Splatoon2.otf");
}

/*--- Navbar ---*/

.sidebar {
    right: 0;
    padding-bottom: 40px;
    font-family: 'Splatoon 2';
}

/*
html:not([data-scroll="0"]) {

    #stack-conduit {
        opacity: 100%;
        pointer-events: all;
    }

}
*/

#stack-conduit {
    color: whitesmoke;
    font-size: 150%;

    position: fixed;
    top: 5px;
    left: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    
    /*
    opacity: 0%;
    pointer-events: none;
    */
}

.menu-items {
    color: whitesmoke;
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #050505;
    overflow-x: hidden;
    padding-top: 3vh;
    transition: 500ms;
}

.menu-items .close-button {
    position: absolute;
    padding-top: none;
    right: 25px;
    font-size: 36px;
}

.menu-item {
    padding-bottom: 1vh;
    display: block;
    transition: 500ms;
}


.menu-header {
    color: whitesmoke;
    text-decoration: none;
    font-size: 200%;

    padding-left: 3vh;
    padding-bottom: 1vh;

    overflow: hidden;
    white-space: nowrap;
    display: block;
    width: min-content;
}

.menu-header .fa-solid {
    font-size: 75%;
}


.menu-item .menu-link {
    color: whitesmoke;
    text-decoration: none;
    font-size: 150%;

    padding-left: 5vh;
    padding-bottom: 1vh;

    overflow: hidden;
    white-space: nowrap;
    display: block;
    width: min-content;
}

#main {
    transition: margin-left .5s;
    padding-left: 3vw;
}